import request from '@/plugin/axios'

export function batchAdd (data) {
  return request({
    url: '/qms/$prefix/${targetName}/batchAdd',
    method: 'post',
    data
  })
}

export function batchUpdate (data) {
  return request({
    url: '/qms/$prefix/${targetName}/batchUpdate',
    method: 'post',
    data
  })
}

export function batchMerge (data) {
  return request({
    url: '/qms/$prefix/${targetName}/batchMerge',
    method: 'post',
    data
  })
}

export function search (data) {
  return request({
    url: '/qms/$prefix/${targetName}/search',
    method: 'post',
    data
  })
}

export function batchDelete (data) {
  return request({
    url: '/qms/$prefix/${targetName}/batchDelete',
    method: 'post',
    data
  })
}
