    },
    // ****************** ${pathChName}页面 ******************/
    {
      path: 'define',
      name: `\${pre}${targetName}`,
      component: _import('${prefix}/${targetName}'),
      meta: {
        ...meta,
        title: '${pathChName}'
      }
    }
