    },
    // ****************** ${pathChName}页面 ******************/
    {
      path: '${targetName}',
      name: `\${pre}${targetName}`,
      component: _import('${prefix}/${targetName}'),
      meta: {
        ...meta,
        title: '${pathChName}'
      }
    }
