<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BaseMapper">


    <select id="getColumnsInfo" resultType="map">
        SELECT TABLE_NAME,
               c.COLUMN_NAME,
               c.DATA_TYPE,
               t.REMARK,
               ORDINAL_POSITION,
               c.COLUMN_DEFAULT,
               case when COLUMNPROPERTY(object_id(#{tableName}), c.COLUMN_NAME, 'IsIdentity') = 1 then 1 else 0 end as isIndentity
        FROM [INFORMATION_SCHEMA].[COLUMNS] c
                 left join (SELECT col.name AS COLUMN_NAME,
                                   prop.value  AS REMARK,
                                   prop.*
                            FROM sys.tables ta
                                     INNER JOIN sys.columns col ON col.object_id = ta.object_id
                                     LEFT JOIN sys.extended_properties prop
                                               ON prop.major_id = col.object_id AND prop.minor_id = col.column_id and prop.class = 1
                            WHERE ta.name = #{tableName}) t on t.COLUMN_NAME = c.COLUMN_NAME
        WHERE TABLE_NAME = #{tableName}
    </select>
    <select id="getIdxInfo" resultType="com.example.core.entity.table.TableIndex">
        SELECT idx.name as idxName , prop.value as remark
        FROM sys.indexes idx (NOLOCK)
                 left join sys.extended_properties prop on prop.major_id = idx.object_id and idx.index_id = prop.minor_id and prop.class = 7
        WHERE idx.object_id = object_id(N'ori_pak_mara')
          and idx.is_primary_key = 0
          and idx.is_unique = 1
    </select>
    <select id="getTableInfo" resultType="map">
        select a.name  AS TABLE_NAME,
               g.value AS TABLE_DESC
        from sys.tables a
                 left join sys.extended_properties g on a.object_id = g.major_id AND g.minor_id = 0
        where a.name = #{tableName}
    </select>
</mapper>
