<template>
    <el-container style="background-color: #ffffff; height: calc(100vh - 100px); width: 100% ; min-height: 400px">
    <split-pane :min-percent="30" :default-percent="60" split="vertical"
                style="width: 100%;height: 100%">
      <template slot="paneL">
        <left-page ref="left" @rowChange="onLeftChange"/>
      </template>
      <template slot="paneR">
        <right-page ref="right" :leftRow="leftRow"/>
      </template>
    </split-pane>
  </el-container>
</template>
<script>

import Vue from 'vue'
import splitPane from 'vue-splitpane'
import LeftPage from '@/views/${prefix}/${targetName}/left'
import RightPage from '@/views/${prefix}/${targetName}/right'

Vue.component('split-pane', splitPane)
export default {
  name: '${prefix}-${targetName}',
  components: { LeftPage, RightPage },
  data: function () {
    return {
      leftRow: null
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.searchLeft()
    })
  },
  methods: {
    searchLeft () {
      this.$refs.left.search()
    },
    onLeftChange ({ row }) {
      this.leftRow = row
    }
  }
}
</script>