package ${package}.${dao}.${prefix};

import ${package}.${entity}.${prefix}.${name};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import java.util.List;
import com.baomidou.mybatisplus.core.toolkit.Constants;
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import java.util.Map;
/**
* @author ${author}
*/
@Mapper
public interface ${name}Mapper extends BaseMapper<${name}> {

#if(${isMerge})
    /**
     * 合并数据
     * @param obj 行
     * @return 影响行
     */
    int batchMerge(@Param("list") List<${name}> obj);
#end

#if(${buildSelectPage})
    /**
    * 查询
    * @param wrapper 条件
    * @return 数据行
    */
    List<Map<String,Object>> select(@Param(Constants.WRAPPER) QueryWrapper<Object> wrapper);
#end

#if(${buildSelectList})
      /**
      * 查询
      * @param wrapper 条件
      * @return 数据行
      */
      List<Map<String,Object>> select(@Param(Constants.WRAPPER) QueryWrapper<Object> wrapper);
#end
}
