package ${package}.${service}.${prefix}.${serviceImpl};

import com.haday.qms.service.base.impl.BaseServiceImpl;
import cn.hutool.core.collection.ListUtil;
import ${package}.${service}.${prefix}.${name}Service;
import ${package}.${dao}.${prefix}.${name}Mapper;
import ${package}.${entity}.${prefix}.${name};
import org.springframework.stereotype.Service;
import java.util.List;

#if($buildSelectList||$buildSelectPage)
import com.haday.qms.interceptor.anno.Try;
import com.haday.qms.vo.SearchVo;
import com.alibaba.fastjson.JSONObject;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
#end

/**
* @author ${author}
*/
@Service
public class ${name}ServiceImpl extends BaseServiceImpl<${name}Mapper, ${name}>
    implements ${name}Service {

    public int batchMerge(List<$name> list){
      return baseMapper.batchMerge(list, ListUtil.of("id"));
    }

    #if(${isMerge})@Try
    public Integer batchMerge(List<$name> obj){
        return baseMapper.batchMerge(obj);
    }#end ##


#if(${buildSelectPage})##
    @Try
    public Page search(JSONObject obj) {
        SearchVo searchVo = obj.toJavaObject(SearchVo.class);
        return baseMapper.select(searchVo.buildPage(), searchVo.buildWrapper());
    }
#end ##
#if(${buildSelectList})##
    @Try
        public List search(JSONObject obj) {
        SearchVo searchVo = obj.toJavaObject(SearchVo.class);
        return baseMapper.select(searchVo.buildWrapper());
    }
#end ##

#if(${buildExport})##
    public Page<?> export(JSONObject body, Page<?> page) {
        return search(getExportJson(body, page));
    }
#end ##

}

