package ${package}.${serviceImpl};

import com.haday.qms.service.base.impl.BaseServiceImpl;
import ${package}.${service}.${name}Service;
import ${package}.${dao}.${name}Mapper;
import ${package}.${entity}.${name};
import org.springframework.stereotype.Service;

/**
* @author ${author}
*/
@Service
public class ${name}ServiceImpl extends BaseServiceImpl<${name}Mapper, ${name}>
    implements ${name}Service {

}

